body, html {
    height: 100%;
    margin: 0;
}

/* SIDE NAVIGATION BAR */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(214, 216, 218, 0.80);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .dropbtn{
    padding: 20px 0px;
    text-decoration: none;
    width: 100%;
    font-family: museo-sans, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #333F48;
    display: block;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    text-align: center;
}

.sidenav a:hover, .dropbtn:hover {
    color: #285E48;
    background-color: rgba(214, 216, 218);
}

.drop-container {
    display: none;
    background-color: rgba(214, 216, 218);
    padding-left: 8px;
}

.active {
    background-color: white;
    color: #333F48;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 200px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}




{
    box-sizing: border-box;
}

.column {
    float: right;
    width: 40%;
    padding: 40px;
    left-padding: 150px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}


.container {
    position: relative;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: fixed;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.links a {
    color: black;
    font-size: 30px;
    font-family: museo-sans, sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    padding: 16px 32px;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
}








/* BACKGROUND PHOTO */

html {
    background: url("climateCG_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
}
